* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, poppins, sans-serif;
}

img {
  max-width: 100%;
}

.main-wrapper {
  display: flex;
}

.search-wrapper {
  padding: 20px;
  background-color: #ffff;
  height: 100vh;
  max-width: 100%;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrapper .search-input {
  max-width: 100%;
}

.search-wrapper input {
  max-width: 100%;
  border: 0;
  outline: 0;
  background-color: #efefef;
  padding: 8px 16px;
  border-radius: 50px 0 0 50px;
}

.search-wrapper button {
  border: 0;
  outline: 0;
  border-radius: 0 50px 50px 0;
  background-color: #748cf1;
  padding: 8px 16px;
  color: white;
}

.search-wrapper .weather-data h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.search-wrapper .weather-data img {
  width: 250px;
  /* height: auto; */
}

.other-data-wrapper {
  background-color: #efefef;
  height: 100vh;
  max-width: 100%;
  width: 70%;
}

@media screen and (max-width: 1050px) {
  .search-wrapper input {
    border-radius: 50px;
    width: 100%;
  }

  .search-wrapper button {
    border-radius: 50px;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
  }

  .search-wrapper {
    width: 100%;
  }

  .other-data-wrapper {
    width: 100%;
  }
}
